*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
#lang-one,#lang-two{
    height: 40px;
}
#label{
    float: left;
}
#heading{
    margin-bottom: 2em;
}
#convert{
    margin-top: 2em;
}
.textarea{
    display: flex;
    
}

.fa-solid{
    color: black;
}
.circle{
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 37px;
    height: 37px; 
    margin-top: 2.5em;
    line-height: 2;
}


